@page
@model TinyUniversity.Pages.Instructors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstructorIndexData</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InstructorIndexData.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
